<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>

<body class="w3-light-grey w3-content" style="max-width:1600px; background-repeat: no-repeat;background-attachment: fixed;background-size: cover; ">
<!--MyMedicalHistory-->
<div class="se-pre-con"></div>
<div class="transbox" style = "background-color: #ffffff;opacity: 0.6;filter: alpha(opacity=60);position:absolute; left:160px;top:55px; height:1000px; width:1100px "  id="dashb">
        <div class="wrapper wrapper--w680" style="max-width: 950px;box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);" >
            <div class="card card-4">
                <div class="card-body">
           <h1 class="title" id="myhistory" style="font-size:50px; color:#000000;font-family:'Lato',sans-serif;"><center>My Medical History</center></h1>
            <% for (var d=0;d<doc.length;d++){ %>
<div class="w3-container w3-card w3-white w3-round w3-margin" style="border-style: inset;position:relative;-webkit-box-shadow: 0 6px 6px -6px rgb(0,0,0,0.7); box-shadow: 0 6px 6px -6px rgb(0,0,0,0.7); border: 1px solid rgb(0,0,0,0.7);"><br>
 <h4  style="font-size:30px; color:#000008;font-family:'Lato',sans-serif;">ID:<span style="padding-left: 15px;font-size:25px;font-weight: bold; color:#264d73;font-family:'Lato',sans-serif;"><%= doc[d].data.id %></span></h4>
 
  <h4  style="font-size:30px;font-weight: bold; color:#000008;font-family:'Lato',sans-serif;">Description:<span style="padding-left: 15px;font-size:25px;font-weight: bold; color:#264d73;font-family:'Lato',sans-serif;"><%= doc[d].data.description %></span></h4> 
  <br> 
 <form  method="post" action="view">  
<center><button class="btn btn--radius-2 btn--blue" type="submit" style=" background:#00344d; " value= <%=doc[d].data.file %> name="b">View Report</button></center>
    </form>  
    <br>               
</div>
 <% } %>




                    </div>
                </div>
            </div>
        </div>